.animalList {
  padding: 20px;
  background-color: #958c8c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 300px;
};

